.main_div{
    display: flex;
}
.sideBar{
    width: 20%;
    display: flex;
    position:sticky;
    top: 0;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    height: 100vh;
    background-color: #22223B;
    color: white;
    font-weight: 700;
    z-index: 1;

}
.user_info{
    margin-top: 15px;
    height: 25%;
    color: white !important;
}
.sideBar button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    /* display: block; */
  }
.sideBar button:hover {
    color: #f1f1f1;
  }

.button_style{
    border-bottom: 1px solid white;
    width:100%;
    text-align: center;
}
.edit_icon{
    /* text-align: right; */
    margin-left: 190px;
    color: #FF9933;
}
.amount{
    color: white;
}
/* .addToCart{
color: white;
margin-left: 25px;
border: 1px solid white;
padding: 5px;
border-radius: 5px;
margin-top: -10px;
font-weight: 400;
color: rgba(255, 255, 0, 0.831);
text-align: center;
align-items: center;
justify-content: center;
} */

.cartButton{
    display: flex;
    column-gap: 10px;
    margin-left: 40px;
    margin-top: -10px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    font-weight: 400;
    color: rgba(255, 255, 0, 0.831);

}
.cartButton:hover{
    color: greenyellow;
    border-color: rgba(255, 255, 0, 0.831);
}
.confirmButton{
    margin-left: 20px;
    border:2px solid #22BB33;
    border-radius: 5px;
    padding: 3px 5px;
    font-weight: 600;
}
.cancelButton{
    border:2px solid orange;
    border-radius: 5px;
    padding: 3px 5px;
    font-weight: 600;
}